@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.PlayerInfo {
	align-items: center;
	background: rgb(147, 147, 147);
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	justify-content: space-around;
	left: 0;
	margin: auto;
	max-height: 0;
	overflow: auto;
	padding: 0 5%;
	position: absolute;
	right: 0;
	top: 300vh;
	transition: all 0.6s ease-out;
	width: 50vw;
	z-index: 10;
}

.showModal {
	max-height: 100vh;
	min-height: 100vh;
	position: fixed;
	top: 0;
	transition: all 0.6s ease-out;
}

.background-img {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -10;
}

.darkener {
	background-color: black;
	display: none;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	z-index: -10;
}

.player-info-name {
	font-size: 36px;
}

.player-info-pic {
	height: 250px;
	margin-bottom: 10px;
}

.player-info-teams,
.player-info-totals {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 100%;
	font-size: 28px;
}

.player-info-totals {
	line-height: 1.5;
	height: 100px;
	text-align: center;
	width: 80%;
}

.player-info-teams {
	height: 60px;
}

.player-info-teams > h5 {
	font-size: 16px;
	margin: 5px;
	text-align: center;
}

.player-info-num {
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	margin: 0;
}

.player-info-bonus {
	background: grey;
	margin-bottom: 30px;
	height: 200px;
	overflow: auto;
	text-align: center;
	width: 100%;
}

.player-info-bonus-title {
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
	margin: 0;
}

.player-info-bonus > h5 {
	margin: 8px auto;
}

.eliminated {
	color: rgb(160, 0, 0);
	text-decoration: line-through;
}

.back-btn {
	background: rgb(84, 84, 84);
	border: none;
	color: white;
	cursor: pointer;
	font-size: 36px;
	min-height: 50px;
	padding: 10px 20px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.5s ease-out;
}

.back-btn:hover {
	background: rgb(227, 227, 227);
	color: rgb(84, 84, 84);
	transition: all 0.5s ease-out;
}

@media screen and (max-width: 1300px) {
	.player-info-teams,
	.player-info-totals {
		font-size: 22px;
	}
}

@media screen and (max-width: 1000px) {
	.PlayerInfo {
		height: auto;
		width: 70vw;
	}

	.player-info-teams {
		flex-direction: column;
		height: 140px;
		margin-bottom: 15px;
	}

	.player-info-teams h5 {
		margin: 2px 0;
	}

	.player-info-num {
		font-size: 40px;
	}

	.player-info-bonus-title {
		font-size: 30px;
	}
}

@media screen and (max-width: 600px) {
	.PlayerInfo {
		align-items: flex-start;
		justify-content: flex-end;
		padding: 0;
		width: 100vw;
	}

	.background-img {
		display: block;
	}

	.darkener {
		display: block;
	}

	.player-info-totals,
	.player-info-teams {
		margin-left: 5vw;
	}

	.player-info-teams {
		align-items: flex-start;
	}

	.player-info-name {
		display: none;
	}

	.player-info-pic {
		display: none;
	}

	.player-info-totals {
		display: flex;
		justify-content: space-evenly;
		width: auto;
		font-size: 28px;
		line-height: 1.5;
		height: 100px;
		text-align: left;
	}

	.player-info-totals > h5 {
		margin-right: 20px;
	}

	.player-info-bonus {
		background: grey;
		height: auto;
		overflow: auto;
		text-align: center;
		width: 100%;
	}

	.back-btn {
		background: none;
		font-size: 50px;
	}
}

@media screen and (max-width: 500px) {
	.showModal {
		max-height: 85vh;
		min-height: 85vh;
	}

	.player-info-teams,
	.player-info-totals {
		font-size: 16px;
	}

	.player-info-teams {
		height: 100px;
	}

	.player-info-num {
		font-size: 30px;
	}

	.player-info-bonus {
		font-size: 12px;
		min-height: 80px;
	}
}
