.App {
  background: url("../../images/msu-court.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}
