.btn {
    cursor: pointer;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    width: 200px;
}

.btn:hover {
    color: white;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 400px) {
    .btn {
        font-size: 14px;
    }
}
