@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.Header {
	background-image: linear-gradient(
		to right,
		transparent,
		silver,
		silver,
		transparent
	);
	display: grid;
	font-family: 'Roboto', sans-serif;
	opacity: 0.9;
	transition: all 0.5s ease-in-out;
}

.logo {
	align-items: center;
	display: flex;
	font-size: 1.8rem;
	justify-content: center;
}

.logo > h1 {
	margin: 0;
}

.bball-img {
	height: 55px;
	position: relative;
	top: 8px;
}

.header-nav {
	align-items: center;
	display: flex;
	font-size: 1.4rem;
	justify-content: space-evenly;
	margin: auto;
	width: 500px;
}

@media screen and (max-width: 760px) {
	.Header {
		background: darkgrey;
		grid-template-rows: 60px 30px;
	}

	.logo {
		font-size: 1.1rem;
	}

	.bball-img {
		height: 30px;
		position: relative;
		top: 3px;
	}

	.header-nav .btn {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 500px) {
	.header-nav {
		width: 100vw;
	}

	.logo {
		font-size: 0.7rem;
	}

	.bball-img {
		height: 25px;
		position: relative;
		top: 3px;
	}
}
