@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.Header {
    background-image: linear-gradient(
        to right,
        transparent,
        rgb(130, 130, 130),
        darkgrey,
        transparent
    );
    display: grid;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
}

.logo {
    align-items: center;
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
}

.bball-img {
    height: 55px;
    position: relative;
    top: 8px;
}

.header-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 500px;
}

@media screen and (max-width: 760px) {
    .Header {
        background: darkgrey;
    }

    .logo {
        font-size: 1.35rem;
    }

    .bball-img {
        height: 50px;
        position: relative;
        top: 7px;
    }

    .header-nav {
        width: 350px;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        font-size: 1.1rem;
    }

    .bball-img {
        height: 30px;
        position: relative;
        top: 3px;
    }

    .header-nav {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .Header {
        grid-template-rows: 60px 30px;
    }

    .logo {
        font-size: 0.7rem;
    }

    .bball-img {
        height: 25px;
        position: relative;
        top: 3px;
    }

    .header-nav {
        width: 280px;
    }

}
