.Player {
  align-items: center;
  background: rgb(147, 147, 147);
  color: white;
  display: flex;
  font-size: 32px;
  height: 80px;
  margin: 10px 0;
  justify-content: space-between;
  padding-left: 20px;
}

.pic {
  height: 80px;
}

@media screen and (max-width: 760px) {
  .Player {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .Player {
    font-size: 16px;
    height: 60px;
  }
  .pic {
    height: 60px;
  }
}
