@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.Player {
    align-items: center;
    background: rgb(84, 84, 84);
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    height: 80px;
    margin: 10px 0;
    justify-content: space-between;
    opacity: 0.9;
    padding-left: 20px;
    transition: all 0.5s ease-in-out;
    width: 60vw;
}

.Player:hover {
    background: rgb(84, 84, 84);
    transition: all 0.5s ease-in-out;
}

.player-pic-wrapper {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
}

.player-pic {
    max-height: 80px;
    max-width: 80px;
}

.player-name {
    width: 100px;
}

.player-rank {
    width: 60px;
}

@media screen and (max-width: 900px) {
    .Player {
        font-size: 22px;
    }
}

@media screen and (max-width: 760px) {
    .Player {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .Player {
        font-size: 16px;
        height: 60px;
    }
    .player-pic {
        height: 60px;
    }
}
